.navbar {
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 10px;
  padding: 5px;
}







